/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Noto Sans';
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
ul,
li {
  padding: 0;
  margin: 0;
}
input {
  padding: 0;
  margin: 0;
}
.block_section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: yellow;
}
.block__content {
  padding: 10px;
  background-color: #20B2AA;
  margin-top: 10px;
  margin-bottom: 10px;
}
.line {
  border: 1px solid #e9eff3;
}
.wrapper {
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* Small Devices, Tablets - adaptive styles bofore 768px */
  /* Medium Devices, Desktops - adaptive styles bofore 992px */
  /* Large Devices, Wide Screens - adaptive styles bofore 1200px */
  /* Large Devices, Wide Screens - adaptive styles bofore 1200px */
}
@media only screen and (min-width: 768px) {
  .wrapper {
    justify-content: space-between;
    width: 650px;
  }
}
@media only screen and (min-width: 992px) {
  .wrapper {
    width: 850px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1100px;
  }
}
@media only screen and (min-width: 1500px) {
  .wrapper {
    width: 1430px;
  }
}
p {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  color: #777777;
  letter-spacing: 0.6px;
  line-height: 2;
}
@media (min-width: 992px) {
  p {
    font-size: 16px;
  }
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.sidebar {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  /* Small Devices, Tablets - adaptive styles bofore 768px */
  /* Medium Devices, Desktops - adaptive styles bofore 992px */
  /* Large Devices, Wide Screens - adaptive styles bofore 1200px */
  /* Large Devices, Wide Screens - adaptive styles bofore 1200px */
}
@media only screen and (min-width: 768px) {
  .sidebar {
    width: 47%;
  }
}
@media only screen and (min-width: 992px) {
  .sidebar {
    width: 35%;
  }
}
@media only screen and (min-width: 1500px) {
  .sidebar {
    width: 35%;
  }
}
.sidebar-box {
  border-radius: 11px;
  height: auto;
}
@media (min-width: 768px) {
  .sidebar-box {
    background-color: #fafafa;
    padding: 20px;
    box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.08);
  }
}
@media (min-width: 1500px) {
  .sidebar-box {
    padding: 44px 55px 55px;
  }
}
.sidebar-block {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.08);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}
@media (min-width: 1500px) {
  .sidebar-block {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
.sidebar-block:last-child {
  margin-bottom: 0;
}
.sidebar-block--left {
  text-align: left;
  padding-top: 20px;
}
@media (min-width: 1500px) {
  .sidebar-block--left {
    padding-top: 40px;
  }
}
.sidebar-block p {
  margin-bottom: 15px;
}
.pop-article {
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px dotted #222222;
  margin-bottom: 20px;
  justify-content: left;
}
.pop-article:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0;
}
.pop-article__img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .pop-article__img {
    width: 75px;
    height: 75px;
  }
}
.pop-article-content__title {
  font-family: 'Playfair Display', serif;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: #222222;
  margin-bottom: 10px;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .pop-article-content__title {
    font-size: 17px;
    line-height: 26px;
  }
}
.pop-article-content__autor {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  letter-spacing: 1.6px;
  font-style: italic;
  color: #bababa;
}
.pop-article-content {
  margin-left: 15px;
  width: 70%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .gallery {
    justify-content: space-between;
  }
}
.gallery__image {
  width: 230px;
  height: 120px;
  background-color: #777777;
  background-image: url(../img/placeholders/project_placeholder.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin: 0px 7px 15px;
  overflow: hidden;
}
.gallery__image:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .gallery__image {
    width: 230px;
    height: 130px;
  }
}
@media (min-width: 992px) {
  .gallery__image {
    height: 125px;
  }
}
@media (min-width: 1200px) {
  .gallery__image {
    width: 140px;
    height: 91px;
    margin: 0px;
    margin-bottom: 9px;
  }
}
@media (min-width: 1500px) {
  .gallery__image {
    width: 145px;
    height: 91px;
  }
}
.comment__avatar {
  width: 115px;
  height: 115px;
  border-radius: 60px;
}
.comment__name {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: .6px;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 15px;
}
.styles__subtitle {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: .25px;
  border-bottom: 1px solid #777777;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.styles__subtitle--pop {
  margin-bottom: 30px;
}
.styles__subtitle--pop span {
  text-transform: none;
}
.styles__item {
  margin-bottom: 15px;
}
.styles__item:last-child {
  margin-bottom: 0;
}
.styles__link {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  color: #777777;
  letter-spacing: 0.25px;
  line-height: 32px;
  transition: 0.2s;
}
.styles__link:hover,
.styles__link:active,
.styles__link:focus {
  color: #222222;
}
.post {
  width: 100%;
  margin-bottom: 50px;
  text-align: left;
  /* Small Devices, Tablets - adaptive styles bofore 768px */
  /* Medium Devices, Desktops - adaptive styles bofore 992px */
  /* Large Devices, Wide Screens - adaptive styles bofore 1200px */
  /* Large Devices, Wide Screens - adaptive styles bofore 1200px */
}
@media only screen and (min-width: 768px) {
  .post {
    width: 47%;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .post {
    width: 60%;
  }
}
.article__image {
  width: 100%;
  height: auto;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  overflow: hidden;
}
@media (min-width: 570px) {
  .article__image {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .article__image {
    height: 200px;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .article__image {
    height: 340px;
  }
}
@media (min-width: 1200px) {
  .article__image {
    height: 430px;
  }
}
@media (min-width: 1500px) {
  .article__image {
    height: 470px;
  }
}
.article-content {
  padding: 0px 25px 25px;
}
@media (min-width: 992px) {
  .article-content {
    padding: 0px 35px 35px;
  }
}
@media (min-width: 1200px) {
  .article-content {
    padding: 0px 50px 50px;
  }
}
.article-content p {
  margin-bottom: 20px;
}
.article__link {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 600;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: .25px;
  text-decoration: none;
  transition: 0.2s;
}
.article__link i {
  font-size: 13px;
  margin-left: 5px;
}
.article__link:hover,
.article__link:active,
.article__link:focus {
  color: #d3c4a6;
}
.article__link--more {
  padding: 20px 50px;
  border: 2px solid #bababa;
  border-radius: 50px;
}
.article__link--more:hover,
.article__link--more:active,
.article__link--more:focus {
  color: #777777;
  border-color: #777777;
  background-color: #d3c4a6;
}
.article {
  background-color: #fff;
  box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
}
.article:last-child {
  margin-bottom: 0;
}
.article-content__subtitle {
  display: inline-block;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .65px;
  color: #d3c4a6;
  border-top: 1px solid #d3c4a6;
  border-bottom: 1px solid #d3c4a6;
  padding: 7px 20px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .article-content__subtitle {
    font-size: 14px;
    padding: 10px 40px;
  }
}
.article-content__title {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: #222222;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .article-content__title {
    font-size: 36px;
  }
}
.footer-form {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer-form {
    width: 33%;
  }
}
.footer-form-input__text {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #777777;
  text-align: left;
  line-height: 1;
  border: 0px;
  padding-top: 17px;
  padding-bottom: 15px;
  width: 100%;
  border: 1px solid #d3c4a6;
  background-color: #fff;
  padding-left: 30px;
}
@media (min-width: 992px) {
  .footer-form-input__text {
    padding-left: 30px;
    padding-right: 45px;
  }
}
.footer-form-input {
  width: 85%;
}
@media (min-width: 500px) {
  .footer-form-input {
    width: 95%;
  }
}
.footer-form__button {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  transition: 0.2s;
  border: 0px;
  background-color: #d3c4a6;
  padding: 17px 35px;
  background-image: url(../img/email_white.png);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-form__button:hover,
.footer-form__button:active,
.footer-form__button:focus {
  color: #222222;
  background-image: url(../img/email_black.png);
}
.footer-form__button i {
  background-color: #d3c4a6;
  padding: 14px 20px;
}
label.error {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #B22222;
  margin-top: 10px;
  text-align: left;
}
.banner {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 155px;
  background-color: #bfd1e1;
  background-image: url("../img/bg/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
@media (min-width: 570px) {
  .banner {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .banner {
    height: 370px;
  }
}
@media (min-width: 992px) {
  .banner {
    height: 475px;
  }
}
@media (min-width: 1200px) {
  .banner {
    height: 920px;
  }
}
.banner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.banner__subtitle {
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1.35px;
  color: #fff;
  padding: 5px 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .banner__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .banner__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .banner__subtitle {
    font-size: 30px;
  }
}
@media (min-width: 1500px) {
  .banner__subtitle {
    font-size: 30px;
    padding: 10px 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
  }
}
.banner__title {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  letter-spacing: 4.5px;
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-style: italic;
}
@media (min-width: 768px) {
  .banner__title {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .banner__title {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .banner__title {
    font-size: 100px;
  }
}
@media (min-width: 1500px) {
  .banner__title {
    font-size: 100px;
  }
}
.header {
  background-color: yellow;
  background-color: #fff;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .header-nav {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c5c5c5;
  }
}
.header-nav__item {
  padding: 15px;
  background-color: #d3c4a6;
  border-bottom: 1px solid #222222;
}
@media (min-width: 768px) {
  .header-nav__item {
    display: block;
    display: inline-block;
    background-color: #fff;
    border: none;
    padding: 0;
  }
  .header-nav__item:last-child {
    margin-right: 0;
  }
}
.header-nav__link {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1;
  text-decoration: none;
  color: #222222;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .header-nav__link {
    margin-right: 46px;
  }
}
.header-nav__link:hover,
.header-nav__link:active,
.header-nav__link:focus {
  color: #777777;
}
.nav-mobile {
  display: block;
  background-color: #d3c4a6;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  cursor: pointer;
  /* Large devices (large desktops, 1200px and up) */
}
.nav-mobile:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 15px;
  width: 25px;
  height: 20px;
  background-image: url(../img/navigation-icon.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.nav-mobile:active,
.nav-mobile:focus {
  background-color: #16385f;
}
@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}
.nav-mobile--active {
  background-color: #16385f;
  color: #d3c4a6;
}
.nav-mobile--active:hover,
.nav-mobile--active:active,
.nav-mobile--active:focus {
  color: #fff;
}
.navigation {
  display: none;
}
@media (min-width: 768px) {
  .navigation {
    display: block;
  }
}
.visible {
  display: block;
}
.logo {
  font-family: 'Montserrat';
}
.logo__title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 37px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .logo__title {
    font-size: 30px;
    margin-top: 30px;
  }
}
.logo__subtitle {
  display: inline-block;
  font-size: 9px;
  letter-spacing: .1px;
  text-transform: uppercase;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 7px 0px;
}
@media (min-width: 768px) {
  .logo__subtitle {
    font-size: 13px;
  }
}
.filter {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 17px;
  border-bottom: 1px solid #c5c5c5;
}
@media (min-width: 768px) {
  .filter {
    padding-top: 50px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .filter {
    padding-top: 100px;
    padding-bottom: 17px;
  }
}
.filter__link {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #777777;
  text-decoration: none;
  transition: 0.2s;
}
.filter__link:hover,
.filter__link:active,
.filter__link:focus {
  color: #222222;
  font-weight: 600;
}
.filter__item {
  display: block;
}
@media (min-width: 768px) {
  .filter__item {
    display: inline-block;
    float: left;
    padding-right: 80px;
  }
  .filter__item--right {
    float: right;
    padding-right: 0;
  }
}
.content {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .content {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .content {
    padding-top: 60px;
  }
}
.footer {
  background-color: #f8f8f8;
  padding-top: 55px;
  padding-bottom: 40px;
}
.footer-nav {
  display: none;
}
@media (min-width: 768px) {
  .footer-nav {
    display: block;
    text-align: left;
    width: 66%;
  }
}
.footer-nav__item {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 25px;
}
@media (min-width: 992px) {
  .footer-nav__item {
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .footer-nav__item {
    margin-right: 60px;
  }
}
.footer-nav__item:last-child {
  margin-right: 0;
}
.footer-nav__link {
  font-size: 14px;
  text-decoration: none;
  color: #777;
}
@media (min-width: 992px) {
  .footer-nav__link {
    font-size: 16px;
  }
}
.footer-nav__link:hover,
.footer-nav__link:active,
.footer-nav__link:focus {
  color: #222222;
  font-weight: bold;
}
.row {
  width: 100%;
  display: block;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.row--line {
  border-top: 1px solid #c5c5c5;
  padding-top: 28px;
}
.footer-content {
  color: #777777;
  text-align: left;
}
.copy {
  background-color: #f8f8f8;
  padding-bottom: 0px;
}
.copy-content {
  display: inline-block;
  text-align: left;
  color: #777777;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1;
  font-size: 12px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .copy-content {
    margin-bottom: 0;
  }
}
.copy-social {
  display: inline-block;
  text-align: right;
  margin-right: 42px;
}
.copy-social a {
  margin-left: 30px;
  color: #bababa;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}
.copy-social a:hover,
.copy-social a:active,
.copy-social a:focus {
  color: #222222;
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.theme_opollo .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.theme_opollo .owl-controls .owl-buttons div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 50%;
  margin-top: -36px;
  display: none;
}
@media (min-width: 768px) {
  .theme_opollo .owl-controls .owl-buttons div {
    display: block;
  }
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-prev {
  background-image: url(../img/arrow-left.png);
  left: 0;
}
.owl-next {
  background-image: url(../../img/arrow-right.png);
  right: 0;
}
/* Styling Pagination*/
.theme_opollo .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.theme_opollo .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
@media (min-width: 992px) {
  .theme_opollo .owl-controls .owl-page span {
    display: none;
  }
}
.theme_opollo .owl-controls .owl-page.active span,
.theme_opollo .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
.owl-pagination {
  position: absolute;
  bottom: -62px;
  width: 100%;
}
